<div class="container">
 <h2>マイページ</h2>
 <h2>登録情報</h2>
 <%= link_to customers_information_edit_path do %>
   <p>編集する</p>
 <% end %>

 <table class="table">
   <thead>
     <tr>
       <th>氏名</th>
       <th>カナ</th>
       <th>郵便番号</th>
       <th>住所</th>
       <th>電話番号</th>
       <th>メールアドレス</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
       <td><%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %></td>
       <td><%= current_customer.postal_code %></td>
       <td><%= current_customer.address %></td>
       <td><%= current_customer.telephone_number %></td>
       <td><%= current_customer.email %></td>
     </tr>
   </tbody>
 </table>

 <% @children.each do |child| %>
   <h2>お子さん情報</h2>
   <%= link_to edit_child_path(child) do %>
     <p>編集する</p>
   <% end %>

   <table class="table">
     <thead>
       <tr>
         <th>氏名</th>
         <th>カナ</th>
         <th>クラス</th>
         <th>契約時間</th>
         <th>契約曜日</th>
         <th>お休み</th>
       </tr>
     </thead>

     <tbody>
       <tr>
         <td><%= child.last_name %> <%= child.first_name %></td>
         <td><%= child.last_name_kana %> <%= child.first_name_kana %></td>
         <td><%= child.level %></td>
         <td><%= child.contact_time %></td>
         <td><%= child.contact_dey %></td>
         <td>
           <%= Off.where(child_id: child.id, flag: 0).count %>日
           <!-- お休み確認ページへのリンクを追加 -->
           <%= link_to 'お休みを確認', show_absences_off_path(id: child.id), class: "btn btn-info" %>
         </td>
       </tr>
     </tbody>
   </table>

 <% end %>

 <%= link_to 'お休み登録', offs_path, class: "btn btn-sm btn-danger" %><br/>
 <br/>
 <%= link_to '振替日登録', date_index_path, class: "btn btn-sm btn-danger" %><br/>
 <br/>
 <%= link_to '振替 履歴', dates_confirmation_path, class: "btn btn-sm btn-danger" %>

</div>
