<div id='calendar'></div>

<div class="container">
  <!-- フラッシュメッセージの表示 -->
  <% if flash[:alert].present? %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if @off&.errors&.any? %>
    <div class="error-messages">
      <h2>登録に失敗しました</h2>
      <ul>
        <% @off.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @offs, url: offs_path, method: :post do |f| %>

    <!-- お子さんの姓（last_name）の入力フィールド -->
    <div class="field">
      <%= f.label :お子さんの姓 %><br />
      <%= f.text_field :child_last_name %>
    </div>

    <!-- お子さんの名（first_name）の入力フィールド -->
    <div class="field">
      <%= f.label :お子さんの名 %><br />
      <%= f.text_field :child_first_name %>
    </div>
    
    <div class="field">
      <%= f.label :お休み日付 %><br />
      <%= f.date_select :off_month, include_blank: true %>
    </div>

    <div class="row">
      <div class="actions"><br>
        <%= f.submit "保存" %>
      </div>
    </div>

  <% end %>
</div>
