<div id='calendar'></div>
<div class="container">

  <p class="fc-day-sun">日曜日</p>
  <p>12:00〜13:00     2歳カニ〜青星4</p>
  <p>13:00〜14:00     3歳カニ〜ピンク</p>
  <p>14:00〜15:00     黄星2〜ピンク</p>
  <p>17:00〜18:00     3歳カニ〜ピンク</p>
  <br />

  <p class="fc-day-sat">土曜日</p>
  <p>16:00〜17:00     3歳カニ〜ピンク</p>
  <p>17:00〜18:00     イルカ〜ピンク</p>
  <p>18:00〜19:00     小学生</p>

  <P class="fc-day-wed">水曜日</P>
  <P>19:30〜20:30    小学生</P>
</div>

<!-- フラッシュメッセージの表示 -->
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<!-- エラーメッセージを表示 -->
<% if @date&.errors&.any? %>
  <div class="alert alert-danger">
    <h4>入力エラーがあります:</h4>
    <ul>
      <% @date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @date, url: date_index_path, method: :post do |f| %>
  <h3>振り替え入力欄</h3>

  <div class="field">
    <%= f.label :last_name, "苗字", for: "last_name" %><br />
    <%= f.text_field :last_name, id: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :first_name, "名前", for: "first_name" %><br />
    <%= f.text_field :first_name, id: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :transfer_date, "振替日", for: "transfer_date" %><br />
    <%= f.date_field :transfer_date, id: "transfer_date" %>
  </div>

  <div class="field">
    <%= f.label :level, "クラス", for: "level" %><br />
    <%= f.select :level, [
      ["カニ", "カニ"], ["ラッコ", "ラッコ"], ["イルカ", "イルカ"],
      ["黄星1", "黄星1"], ["黄星2", "黄星2"], ["黄星3", "黄星3"], ["黄星4", "黄星4"],
      ["青星1", "青星1"], ["青星2", "青星2"], ["青星3", "青星3"], ["青星4", "青星4"],
      ["赤星1", "赤星1"], ["赤星2", "赤星2"], ["赤星3", "赤星3"], ["赤星4", "赤星4"],
      ["ピンク星1", "ピンク星1"], ["ピンク星2", "ピンク星2"], ["ピンク星3", "ピンク星3"], ["ピンク星4", "ピンク星4"]
    ], { include_blank: "クラス選択" }, { id: "level" } %>
  </div>

  <div class="field">
    <%= f.label :contact_dey, "振替曜日", for: "contact_dey" %><br />
    <%= f.select :contact_dey, [["土曜日", "土曜日"], ["日曜日", "日曜日"], ["水曜日", "水曜日"]], { include_blank: "曜日選択" }, { id: "contact_dey" } %>
  </div>

  <div class="field">
    <%= f.label :transfer_time, "振替時間", for: "transfer_time" %><br />
    <%= f.select :transfer_time, [], { include_blank: "時間選択" }, { id: "transfer_time" } %>
  </div>

  <div class="field">
    <%= f.label :telephone_number, "電話番号（ハイフンなし）", for: "telephone_number" %><br />
    <%= f.text_field :telephone_number, id: "telephone_number", autofocus: true, autocomplete: "telephone_number" %>
  </div>

  <div class="row">
    <div class="actions"><br>
      <%= f.submit "振替申込み", data: { confirm: "本当にこの日でよろしいですか？" } %>
    </div>
  </div>
<% end %>