<div class="container">
  <h1>振替一覧</h1>

  <!-- 振替検索フォーム -->
  <%= form_with url: admin_path, method: :get, local: true do %>
    <div class="form-group">
      <%= label_tag :search_date, "日付を選択" %>
      <%= date_field_tag :search_date, params[:search_date], class: "form-control" %>
    </div>
    <%= submit_tag "検索", class: "btn btn-primary" %>
  <% end %>

  <!-- 検索結果 -->
  <% if params[:search_date].present? %>
    <h3><%= params[:search_date] %> の振替人数: <%= @dates.size %></h3>
  <% end %>

  <!-- 振替情報 -->
  <table class="table">
    <thead>
      <p>振替情報</p>
      <tr>
        <th>振替日</th>
        <th>氏名</th>
        <th>お休み日</th>
        <th>振替時間</th>
        <th>クラス</th>
      </tr>
    </thead>
    <tbody>
      <% @dates.each do |date| %>
        <tr>
          <td><%= date.transfer_date %></td>
          <td><%= date.child.last_name %> <%= date.child.first_name %></td>
          <td><%= date.off.off_month %></td>
          <td><%= date.transfer_time %></td>
          <td><%= date.level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
