<div class="container">
  <h2>お子さん新規登録</h2>

  <%= form_with model: @child,url:child_index_path do |f| %>

    <div class="field">
      <%= f.label :姓 %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    </div>

    <div class="field">
      <%= f.label :名 %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </div>


    <div class="field">
      <%= f.label :姓カナ %><br />
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
    </div>

    <div class="field">
      <%= f.label :名カナ %><br />
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </div>

    <div class="field">
      <%= f.label :契約曜日 %><br />
      <%= f.text_field :contact_dey, autofocus: true, autocomplete: "contact_dey" %>
    </div>

    <div class="field">
      <%= f.label :クラス %><br />
      <%= f.text_field :level, autofocus: true, autocomplete: "level" %>
    </div>

    <div class="field">
      <%= f.label :契約時間 %><br />
      <%= f.text_field :contact_time, autofocus: true, autocomplete: "contact_time" %>
    </div>

    <div class="field">
      <%= f.label :電話番号（ハイフンなし） %><br />
      <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>

    </div>
  <% end %>

</div>